html {
    background: #e3e3e3;
}

body {
    font-family: cursive;
    margin: 40px;
    padding: 50px;
    border-top: 10px solid;
    background-color: #fff;
}

#buttons {
    display: flex;
    border: 1px dotted black;
}

#buttons button {
    margin: 10px;
    padding: 10px;
    background-color: #fff8e6;
}