html {
    background: #e3e3e3;
}

body {
    font-family: cursive;
    margin: 40px;
    padding: 50px;
    border-top: 10px solid;
    background-color: #fff;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin: 5px;
    font-weight: 100;
}

#buttons {
    border: 1px dotted black;
    align-items: center;
}

#buttons button {
    margin: 20px;
    padding: 10px;
    background-color: #fff8e6;
}